body{
    color:aquamarine;
    background-image: url("../tableau/cat1.gif");
    background-repeat: no-repeat;
    background-position: 50% 50% ;
    background-attachment: fixed;
    font-size: x-large;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;

}
p{
    color:green;
    font-size: 20px;

}
h1{
    color:rebeccapurple;
}